DISCORD_TOKEN=MTE2MDUwNTExNDg4NTM3ODA4OQ.G0f0ZH.cBaryO2b-4fx05neW6H4eeig12nAXd4UHPLrao
MONGO_TOKEN=mongodb+srv://Eviliscool:Roblox1234@cluster0.ihsh4gs.mongodb.net/?retryWrites=true&w=majority
GIPHY_TOKEN=cnvTmnWHCLDy8zFSJswPseq5lOpiYcIf
WEBHOOK_ID=1160561144738627665
WEBHOOK_TOKEN=AvzmG9RKg8UgUB4SzF6eH8o66n7UgbOao6ZM3MENMpCxpBWXtMkwYmP2St_0We-woodq
DISCORD_ID=1160505114885378089

# Not neccessary variables
DISCORD_STATUS="Listening to meself, I'm a stupid bot, https://github.com/corwindev/discord-bot"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST=lava.link
LAVALINK_PASSWORD=I'm a secret
LAVALINK_PORT=80
LAVALINK_SECURE=false
OPENAI=
